html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: beige;
}

.navbar {
  background-color: rgb(191, 200, 199);
}

.text-color-black {
  color: black;
}

footer {
  background-color: rgb(191, 200, 199);
  margin-top: auto;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

section {
  margin-top: auto;
}

.dropdown-toggle {
  outline: none;
}

#nav-dropdown {
  background-color: rgb(191, 200, 199);
}

.side-nav {
  border-radius: 25px;
}

#product-card {
  border-radius: 25px;
}

.category-text {
  font-weight: bold;
  font-size: larger;
  color: black;
}

.margin-top {
  margin-top: 15px;
}

.margin-bottom {
  margin-bottom: 15px;
}

.category-nav {
  margin-top: 5px;
  border-radius: 55px;
  height: 40px;
}

.abc {
  border-radius: 55px;
  color: rgb(32, 127, 127);
  height: 40px;
}

.table>tbody>tr>td, .table>tfoot>tr>td{
  vertical-align: middle;
}
@media screen and (max-width: 600px) {
  table#cart tbody td .form-control{
    width:20%;
    display: inline !important;
  }
  .actions .btn{
    width:36%;
    margin:1.5em 0;
  }

  .actions .btn-info{
    float:left;
  }
  .actions .btn-danger{
    float:right;
  }

  table#cart thead { display: none; }
  table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
  table#cart tbody tr td:first-child { background: #333; color: #fff; }
  table#cart tbody td:before {
    content: attr(data-th); font-weight: bold;
    display: inline-block; width: 8rem;
  }



  table#cart tfoot td{display:block; }
  table#cart tfoot td .btn{display:block;}

}
