<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Baby</title>
    <th:block th:include="~{/fragments/head}"/>
</head>

<body>

<div th:replace="fragments/header">Navbar</div>

<main>
    <div class="container margin-top">
        <div class="row">
            <div class="col-6 col-md-2">
                <div class="side-nav flex-shrink-0 p-3 bg-white">
                    <h3 class="d-flex justify-content-center border-bottom">Baby</h3>
                    <div th:each="category : ${categories}"
                         th:object="${category}">
                        <div class="d-flex justify-content-center card category-nav"
                             th:if="*{baseCategory == 'BABY'}">
                            <div class="d-flex justify-content-center card-body">
                                <a th:href="@{/offers/category/{offerId}(offerId=*{id})}" style="color: black;"
                                   th:value="*{id}"
                                   th:text="*{name}">Category</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="side-nav flex-shrink-0 p-3 bg-white margin-top">
                    <h3 class="d-flex justify-content-center border-bottom">Mommy</h3>
                    <div th:each="category : ${categories}"
                         th:object="${category}">
                        <div class="d-flex justify-content-center card category-nav"
                             th:if="*{baseCategory == 'MOMMY'}">
                            <div class="d-flex justify-content-center card-body">
                                <a th:href="@{/offers/category/{offerId}(offerId=*{id})}" style="color: black;"
                                   th:text="*{name.toString()}">Category</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-10">
                <div class="container">
                        <div class="d-flex justify-content-center">
                            <h1 th:if="${allOffers.isEmpty()}"
                                style="margin-top: 60px">We Don`t Have Any Offers Yet</h1>
                        </div>
                        <div class="d-flex justify-content-center margin-bottom"
                             th:each="offer : ${allOffers}"
                             th:object="${offer}">
                            <div class="col-md-9">
                                <div class="row p-2 bg-white" id="product-card">
                                    <div class="col-md-3 mt-1"><img
                                            class="img-fluid img-responsive rounded product-image"
                                            th:src="*{pictureUrl}" alt="img"></div>
                                    <div class="col-md-6 mt-1">
                                        <h5 th:text="*{name}">Name</h5>
                                        <div class="mt-1 mb-1 spec-1"><span>Color</span>
                                        </div>
                                        <p th:text="*{description}"
                                           class="text-justify text-truncate para mb-0">Description<br><br></p>
                                    </div>
                                    <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                        <div class="d-flex flex-row align-items-center">
                                            <h4 th:text="*{price}" class="mr-1">$13.99</h4>
                                        </div>
                                        <h6 class="text-success">Free shipping</h6>
                                        <div class="d-flex flex-column mt-4">
                                            <a href="">
                                                <button class="btn btn-primary btn-sm" type="button">Details</button>
                                            </a>
                                            <a th:href="@{/add-to-cart{id}(id=*{id})}">
                                                <button class="btn btn-outline-primary btn-sm mt-2" type="button">Add to
                                                    cart
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
            integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
            integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
            crossorigin="anonymous"></script>
</main>

<th:block th:include="~{/fragments/footer}"/>

</body>
</html>