<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Baby</title>
    <th:block th:include="~{/fragments/head}"/>
</head>

<body>
<!--Navigation-->
<div th:replace="fragments/header">Navbar</div>

<main>
    <section class="vh-100">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100 margin-top">
                <div class="col-lg-12 col-xl-11">
                    <div class="card text-black" style="border-radius: 25px;" id="card-register">
                        <div class="card-body p-md-5">
                            <div class="row justify-content-center" id="row-register">
                                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Create Account</p>

                                    <form th:action="@{/users/register}"
                                          th:method="POST"
                                          th:object="${userRegistrationDto}"
                                            class="mx-1 mx-md-4">

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <label class="form-label" for="formUsername">Your Username</label>
                                                <input type="text"
                                                       id="formUsername"
                                                       th:field="*{username}"
                                                       th:errorclass="is-invalid"
                                                       name="username"
                                                       class="form-control"
                                                />
                                                <p class="invalid-feedback errors alert alert-danger">
                                                    Username name is required.
                                                </p>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <label class="form-label" for="formFirstName">Your First Name</label>
                                                <input type="text"
                                                       id="formFirstName"
                                                       th:field="*{firstName}"
                                                       name="name"
                                                       class="form-control"/>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <label class="form-label" for="formLastName">Your Last Name</label>
                                                <input type="text"
                                                       id="formLastName"
                                                       th:field="*{lastName}"
                                                       name="name"
                                                       class="form-control"/>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <label class="form-label" for="formEmail">Your Email</label>
                                                <input type="email"
                                                       id="formEmail"
                                                       th:field="*{email}"
                                                       th:errorclass="is-invalid"
                                                       name="email"
                                                       class="form-control"/>
                                                <p class="invalid-feedback errors alert alert-danger">
                                                    Email is required.
                                                </p>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <label class="form-label" for="formPassword">Password</label>
                                                <input type="password"
                                                       id="formPassword"
                                                       th:field="*{password}"
                                                       th:errorclass="is-invalid"
                                                       name="password"
                                                       class="form-control"/>
                                                <p class="invalid-feedback errors alert alert-danger">
                                                    Password is required.
                                                </p>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <label class="form-label" for="formConfirmPassword">Confirm your
                                                    password</label>
                                                <input type="password"
                                                       id="formConfirmPassword"
                                                       th:field="*{confirmPassword}"
                                                       th:errorclass="is-invalid"
                                                       name="confirmPassword"
                                                       class="form-control"/>
                                                <p class="invalid-feedback errors alert alert-danger">
                                                    Confirm password is required.
                                                </p>
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                            <button type="submit" class="btn btn-primary btn-lg">Register</button>
                                        </div>

                                    </form>

                                </div>
                                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                         class="img-fluid" alt="Sample image">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
<!--Footer-->
<th:block th:include="~{/fragments/footer}"/>

</body>
</html>